<div id="social-signin-links" class="border-top mt-3 pt-3">
  <% if (!spree_current_user || !spree_current_user.user_authentications) && Spree::AuthenticationMethod.active_authentication_methods? %>
    <h4 class="text-center h5">
      <%= Spree.t(:sign_in_through_one_of_these_services) %>
    </h4>
  <% end %>

  <div class="text-center">
    <% Spree::AuthenticationMethod.available_for(@spree_user).each do |method| %>
      <%= button_to path_for_omniauth(@spree_user, method.provider),
                    class: "d-inline-block #{method.provider.to_url}",
                    data: { turbo: false } do %>
        <%= icon_by_provider(method.provider) %>
      <% end if method.active %>
    <% end %>
  </div>
</div>
